#Goodness of Fit Assignment - Citibike Data

Author: dp1618

In [14]:
import os
import pylab as pl
import pandas as pd
import numpy as np
%pylab inline
import scipy.stats

Populating the interactive namespace from numpy and matplotlib

test if the distribution of ages can be modelled by a Gaussian

1) all riders

2) summer riders vs winder riders

In [15]:
dfjan = pd.read_csv('2014-01 - Citi Bike trip data.csv')
dffeb = pd.read_csv('2014-02 - Citi Bike trip data.csv')
dfmar = pd.read_csv('2014-03 - Citi Bike trip data.csv')
dfapr = pd.read_csv('2014-04 - Citi Bike trip data.csv')
dfmay = pd.read_csv('2014-05 - Citi Bike trip data.csv')
dfjun = pd.read_csv('2014-06 - Citi Bike trip data.csv')
dfjul = pd.read_csv('2014-07 - Citi Bike trip data.csv')
dfaug = pd.read_csv('2014-08 - Citi Bike trip data.csv')
dfsep = pd.read_csv('201409-citibike-tripdata.csv')
dfoct = pd.read_csv('201410-citibike-tripdata.csv')
dfnov = pd.read_csv('201411-citibike-tripdata.csv')
dfdec = pd.read_csv('201412-citibike-tripdata.csv')

In [23]:
dffw = pd.DataFrame()
list_ = []
for file_ in (dfjan, dffeb, dfsep, dfoct, dfnov, dfdec):
    list_.append(file_)
dffw = pd.concat(list_)

print dffw.head()

   tripduration            starttime             stoptime  start station id  \
0           471  2014-01-01 00:00:06  2014-01-01 00:07:57              2009
1          1494  2014-01-01 00:00:38  2014-01-01 00:25:32               536
2           464  2014-01-01 00:03:59  2014-01-01 00:11:43               228
3           373  2014-01-01 00:05:15  2014-01-01 00:11:28               519
4           660  2014-01-01 00:05:18  2014-01-01 00:16:18                83

              start station name  start station latitude  \
0       Catherine St & Monroe St               40.711174
1                1 Ave & E 30 St               40.741444
2                E 48 St & 3 Ave               40.754601
3              Pershing Square N               40.751884
4  Atlantic Ave & Fort Greene Pl               40.683826

   start station longitude  end station id          end station name  \
0               -73.996826             263  Elizabeth St & Hester St
1               -73.975361             259   South St & Whitehall St
2               -73.971879            2022       E 59 St & Sutton Pl
3               -73.977702             526           E 33 St & 5 Ave
4               -73.976323             436  Hancock St & Bedford Ave

   end station latitude  end station longitude  bikeid    usertype birth year  \
0             40.717290             -73.996375   16379  Subscriber       1986
1             40.701221             -74.012342   15611  Subscriber       1963
2             40.758491             -73.959206   16613  Subscriber       1991
3             40.747659             -73.984907   15938  Subscriber       1989
4             40.682166             -73.953990   19830  Subscriber       1990

   gender
0       1
1       1
2       1
3       1
4       1

In [24]:
dfss = pd.DataFrame()
list_ = []
for file_ in (dfmar, dfapr, dfmay, dfjun, dfjul, dfaug):
    list_.append(file_)
dfss = pd.concat(list_)

In [25]:
for row in dffw:
    dffw['brith year'] = float(dffw['birth year'])
for row in dfss:
    dfss['brith year'] = float(dfss['birth year'])

TypeError: cannot convert the series to <type 'float'>

In [18]:
#get the ages for each subscriber
dffw['age'] = 2015-dffw['birth year'][(dffw['usertype'] == 'Subscriber')]
dfss['age'] = 2015-dfss['birth year'][(dfss['usertype'] == 'Subscriber')]

TypeError: unsupported operand type(s) for -: 'int' and 'str'